/*  your css code here. If applicable */
body {
            font-family: Arial, sans-serif;
        }

        #band {
            list-style-type: none;
            padding: 0;
        }

        #band li {
            margin: 5px 0;
        }